watchdog
Flask
Flask-CORS
user-agents
waitress
requests
python-dotenv
PyYAML
docker
discord.py
python-telegram-bot
setuptools
redis
eventlet
flask
flask_cors
flask_limiter
flask_socketio
requests
pytz
celery
termcolor
stripe
openai-whisper
torch
uiautomator2
opencv-python-headless
numpy
srt
yt-dlp
psutil
schedule
google-auth
google-api-python-client
websockets
av
firebase-admin
transformers
proglog
openai
pandas
tiktoken
PyGithub
typing-extensions
reportlab
obsws-python
huggingface_hub
opencv-python
google-auth-oauthlib
google-auth-httplib2
pdfkit
chardet
markdown
unidecode
pytest
matplotlib

